body {
    font-family: 'Alfa Slab One', cursive;
    font-family: 'Poppins', sans-serif !important;
}
.bg {
    background-image: url("../img/Background.png");
}
.logo {
    font-family: 'Alfa Slab One';
}

.Hideline {
    font-family: 'Alfa Slab One';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 68px;
    text-align: center;
    color: #FFFFFF;
    /* stroke: 3px solid #E98E14; */
    text-shadow: 6px 8px 0px #E88D13;
}

H1 {
    -webkit-text-stroke: 1px #E88D13;
    -webkit-text-fill-color: white;
}

.h-custom {
    height: 100%;
}

@media (max-height: 100px){
    .h-custom {
        height: 100%;
    }
}